@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --blue-100: hsl(225, 100%, 98%);
  --blue-200: hsl(225, 100%, 94%);
  --blue-500: hsl(224, 23%, 55%);
  --blue-700: hsl(245, 75%, 52%);
  --blue-900: hsl(223, 47%, 23%);

  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;

  --content-gap: 20px;
}

@media (min-width: 40em) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 2rem;
    --fs-500: 1.55rem;
    --fs-400: 1rem;
    --fs-300: 0.9rem;
  }
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

.component {
  background-color: var(--blue-200);
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.1);
  max-width: 420px;
}

.card__img {
  display: block;
}

.card__content {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-weight: 900;
  font-size: var(--fs-500);
  color: var(--blue-900);
}

.card__info {
  font-size: var(--fs-400);
  font-weight: 500;
  color: var(--blue-500);
  margin-top: var(--content-gap);
}

.card__plan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--blue-100);
  margin-top: var(--content-gap);
}

.card__icon {
  display: block;
}

.card__value {
  margin-left: 20px;
  font-size: var(--fs-400);
}

.card__value-type {
  font-weight: 700;
  color: var(--blue-900);
}
.card__value-price {
  font-weight: 500;
  color: var(--blue-500);
}

.card__change {
  margin-left: auto;
  color: var(--blue-700);
  font-size: var(--fs-300);
  font-weight: 600;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  transition: opacity 0.2s linear;
}

.card__change:hover {
  opacity: 0.6;
  text-decoration: none;
}

.card__button {
  border-radius: 12px;
  padding: 15px;
  margin-top: var(--content-gap);
  font-size: var(--fs-400);
  border: none;
  background-color: var(--blue-700);
  color: var(--blue-100);
  font-weight: 700;
  -webkit-box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 10px 7px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s linear;
}

.card__button:hover {
  opacity: 0.7;
}

.card__cancel {
  margin-top: var(--content-gap);
  color: var(--blue-500);
  font-size: var(--fs-400);
  font-weight: 700;
  border: none;
  background-color: transparent;
  transition: color 0.2s linear;
}

.card__cancel:hover {
  color: var(--blue-900);
}
